fastapi
uvicorn
sentence-transformers>=3.0.0
pydantic>=2.0
torch
pytest
pytest-asyncio
httpx
huggingface_hub>=0.26.0
langchain
langchain-community
pypdf
python-multipart
langchain-huggingface
python-dotenv
pymongo
rouge-score
bert-score
nltk