fastapi
uvicorn
sentence-transformers>=3.0.0
pydantic>=2.0
torch
pytest
pytest-asyncio
httpx
groq
langchain
langchain-community
pypdf
python-multipart
python-dotenv
pymongo
rouge-score
bert-score
nltk